<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="main-container" >
  <div class="main-wrapper">
    <h2>sign up</h2>
    <form class="signup-form" action="send_ether" method="POST">

      <input style=" float: center; height: 40px;  width: 80%; padding: 0px 5%; border: none; background-color: #ccc; line-height: 40px; margin-bottom: 4px;" type="text" name="to_address" placeholder="first name">

      <input  style=" float: center; height: 40px;  width: 80%; padding: 0px 5%; border: none; background-color: #ccc; line-height: 40px; margin-bottom: 4px;" type="text" name="amount" placeholder="last name">


      <button type="submit" name="submit" value = "submit" >sign up</button>
    </form>

  </div>
</section>
  </body>
</html>
